:root {
  font-size: 16px;
}

.stockage-left {
  position: relative;
  float: right;
  left: 12%;
  top: -230%;
}
@media (max-width: 375px) {
  .stockage-left {
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 12rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.stockage-left--msg {
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  position: relative;
  text-align: center;
  color: #848794;
  font-weight: bold;
  background-color: #fff;
}
@media (max-width: 375px) {
  .stockage-left--msg {
    width: 11rem;
    height: 5rem;
  }
}
.stockage-left--msg .center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  width: 100%;
}
.stockage-left--msg em {
  vertical-align: sub;
  color: black;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;
}
.stockage-left--hider {
  width: 0;
  height: 0;
  position: relative;
  margin-left: 8.1rem;
  bottom: 1.1rem;
  z-index: 50;
  border-left: 30px solid transparent;
  border-top: 50px solid #fff;
}
@media (max-width: 375px) {
  .stockage-left--hider {
    display: none;
  }
}

.loading-bar {
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background-color: #0c122c;
}
.loading-bar--fill {
  z-index: 10;
  width: 81.5%;
  height: 1rem;
  background: linear-gradient(to right, #ffa399, #ff4d97);
}
.loading-bar--fill .dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
  z-index: 20;
  float: right;
  margin-right: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.loading-bar label {
  font-weight: bolder;
}
.loading-bar .max {
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}

.flex-container {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 70%;
  left: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 375px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

.container {
  border-radius: 1rem;
  background-color: #1d2c67;
  padding: 3rem;
}
.container--heading {
  border-radius: 1rem 7rem 1rem 1rem;
  width: 60%;
  height: 6rem;
  margin-right: 5%;
}
@media (max-width: 375px) {
  .container--heading {
    width: 90%;
    height: 6rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.container--ldbar {
  width: 110%;
  height: 4rem;
}
.container--ldbar p {
  margin-bottom: 1rem;
}
.container--ldbar .loading-bar--fill {
  margin-bottom: 0.5rem;
}
@media (max-width: 375px) {
  .container--ldbar {
    width: 90%;
    height: 4rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .container--ldbar p {
    text-align: center;
  }
}

.action-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.action-icons .icon-bkg {
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1%;
  background-color: #0c122c;
  vertical-align: text-top;
}
.action-icons .icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action-icons .icon:hover {
  cursor: pointer;
}

.bkgd-img {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  background-image: url("../images/bg-desktop.png");
}
@media (max-width: 375px) {
  .bkgd-img {
    height: 100%;
    background-image: url("../images/bg-mobile.png");
  }
}

body {
  background-color: #0c122c;
  color: #dddbff;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

em {
  font-weight: 700;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
